git+https://github.com/wtsi-hgi/python-sequencescape-db.git@94bf380ec93e1adc4241fdf176bebf14548f39ad#egg=sequencescape
git+https://github.com/wtsi-hgi/python-baton-wrapper.git@83cbe7839f426d4a3cc2d1f493352d7dbae127cf#egg=baton
git+https://github.com/wtsi-hgi/python-sam-header-parser.git@6ea6fa8d72b5c07edae380db2e32d20f5b47463f#egg=sam_header_parser
hgicommon==1.2.0
PyHamcrest==1.8.5
pbr==1.8.1
hgijson==1.4.3